#Ignore files

.DS_Store
ICOM/
archive/
references/
PMMoTo.egg-info/
PMMoTo/__pycache__/
PMMoTo/tmp/
PMMoTo/distance.c	
PMMoTo/distance.html
PMMoTo/distanceSAVE.pyx
PMMoTo/domainGeneration.c
PMMoTo/domainGeneration.html
PMMoTo/drainage.c
PMMoTo/drainage.html
PMMoTo/medialAxis/_skeletonize_3d_ORDER_cy.pyx.in
PMMoTo/medialAxis/_skeletonize_3d_RAND_cy.pyx
PMMoTo/medialAxis/_skeletonize_3d_SAVE_cy.pyx.in
PMMoTo/nodes.c
PMMoTo/nodes.html
PMMoTo/sets.c
PMMoTo/sets.html
tests/dataDump/
tests/inkBottle/
tests/kelseySpherePackTests/
tests/porousMediaGenerate/
tests/profile_out.0
tests/profile_out.1
tests/profile_out.2
tests/profile_out.3
tests/profile_out.4
tests/profile_out.5
tests/profile_out.6
tests/profile_out.7
tests/testDomains/10pack.out
tests/testDomains/50pack.out
PMMoTo/distance.c
tests/~$inkBottleDrainageSweepGridRefinement.xlsx
