#Ignore files

.DS_Store
ICOM/
build/
dist/
archive/
references/
PMMoTo.egg-info/
PMMoTo/__pycache__/
PMMoTo/tmp/
PMMoTo/*.c
PMMoTo/*.html
PMMoTo/distanceSAVE.pyx
PMMoTo/medialAxis/_skeletonize_3d_ORDER_cy.pyx.in
PMMoTo/medialAxis/_skeletonize_3d_RAND_cy.pyx
PMMoTo/medialAxis/_skeletonize_3d_SAVE_cy.pyx.in
PMMoTo/medialAxis/_skeletonize_3d_cy.cpp
PMMoTo/medialAxis/_skeletonize_3d_cy.html
tests/dataDump/
tests/inkBottle/
tests/kelseySpherePackTests/
tests/porousMediaGenerate/
tests/profile_out.0
tests/profile_out.1
tests/profile_out.2
tests/profile_out.3
tests/profile_out.4
tests/profile_out.5
tests/profile_out.6
tests/profile_out.7
tests/~$inkBottleDrainageSweepGridRefinement.xlsx
